$font-stack:    Helvetica, sans-serif;
$primary-color: white;

body {
  font: 100% $font-stack;
  background: $primary-color;
}

.loader {
	font-size: 200px;
}

.fishpic {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	width: 50%;
}

.fishcard {
	width: 30%;
	display: block;
}

.flex-fish {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.marginbottom {
	margin-bottom: 50px;
}

.marginbottom-sm {
	margin-bottom: 1em;
}


.fishbuttonleft {
	display: inline;
	float: left;
}

.fishbuttonright {
	display: inline;
	float: right;
}

.pushtobottomofparent {
	vertical-align: bottom;
} //not working

